body
{
overflow-x:hidden;
width:100vw;
font: 15px "Century Gothic", "Times Roman", sans-serif;

height:100vh;
background-attachment:fixed;
}
.bg
{
/* min-height:540px;
 */
 height: 100%;
}
.bg1
{
    background-color: #ccc5b9;
    height:90vh;
}

@font-face {
   font-family: 'typo';
    src: url('../fonts/typo.ttf');
	}

@font-face {
   font-family: 'gothic';
    src: url('../fonts/gothics.ttf');
	}

.panel{
border-color:#fffcf2;
border-radius: 10px;
height: auto;
width:36vw;
padding:30px 2%;
margin:auto;
/* background-color: red; */
margin-top: 4vh;
box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
font: 15px "Century Gothic", "Times Roman", sans-serif;
}

.title
{
font-family:'typo';
}

.header
{
background:#403d39;
height:10vh;
width:100vw;
}
.logo
{
font-family:'typo';
font-size:35px;
color:#070706;
margin:15px;
}

.title1{
font: 16px "Century Gothic", "Times Roman", sans-serif;
text-align: center;
}
.title2{
font-family: 'Ubuntu', sans-serif;
font-size:20px;
}


.sub1
{
width:90px;
color:#202020;
background:orange;
font-size:15px;
height:35px;
margin:20px;
padding:10px;
width:100px;
}


.sub
{
width:100%;
background-color:#9acd32;
font-size:20px;
padding:2px;
margin-top:15px;
margin-right:20px;
}
.sub:hover
{
color:#fff;
}

.footer
{
font-size:15px;
text-align:center;
border-top:1px solid;
border-color:#323232;
background-color:#202020;
}
.footer a
{
margin:25px;
color:orange;
text-decoration:none;
font: 15px "Century Gothic", "Times Roman", sans-serif;

}
.footer a:hover
{
text-decoration:none;
color:#9acd32;
border-top:2px solid;
border-color:orange;

}

.box
{
padding:9px;
}
hr{
color:#000000;
}
.top
{
margin-top:20px;
}
.log1
{
font: 20px 'Ubuntu', sans-serif;
color:orange;
padding-bottom: 50px;
margin-left:10px;
}


.log
{
margin:10px;
margin-right:60px;
margin-left:5px;
color:orange;
text-decoration:none;
font-size:20px;
font-size:15px;
}
.log:hover
{
color:#9acd32;
border-top:2px solid;
border-color:orange;
text-decoration:none;
}
/*navbar*/
.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.navbarelement a{
    width: auto;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 2rem;
}

/* signin */
.signinbutton{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.signinbutton button{
    margin-left: 10px;
    margin-right: 10px;
}
.signinheading{
    text-align: center;
    margin-bottom: 20px;
    font-size: 3.5rem;
}
/* form */
.login-form {
    display: flex;
    justify-content: center;
}

.formelement{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content:space-between;
}
.formbutton{
    padding-left:70%;
    padding-right: 10%;
    
}
.formbutton input{
    border: none;
    border-radius: 8px;
    padding-top:6px;
    padding-bottom: 6px;
}

/* sidebar */


.sidebar-container {
  display: flex;
  height: 90vh;
  width: 20%;
  padding-left: 50px;
  padding-top: 30px;
  flex-direction: column;
  background-color: #f2f2f2; 
  /* padding: 10px;  */
}

.sidebar-up {
  margin-bottom: 10px; 

}

.sidebar-down {
  margin-top: auto; 
  margin-bottom: 30px;
}

.sidebar-thing {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-thing li {
  padding: 8px 12px; 
  font-size: 2rem;
  margin-top: 20px;
}

.sidebar-thing li a {
  color: #333; /* Text color */
    
  text-decoration: none; /* Remove underline */
}

.sidebar-thing li.active {
  background-color: #ddd; 
  width:60%;
  border-radius: 5px;
  
}
/* accountbg */
.mainpage-container{
    display: flex;
    flex-direction: row;
}
.accountbg{
    background-color: #888686;
    width: 80%;
    height: 90vh;

}

